:root {
  background-color: #676464;
}
.container-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sms {
  background-color: dodgerblue;
  color: #fff;
  padding: 15px 30px;
  border-radius: 15px;
}
.container-toggle > button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  background-color: #cac6c6;
}
.container-toggle > button:hover {
  background-color: #fff;
  transform: scale(1.1);
}
