/* .container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9b9696;
  color: #fff;
}
.card:hover > img {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.card-desc > p {
  margin-top: -15px;
} */
