.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-container > h1 {
  color: #fff;
}
.sub-container > button {
  background-color: #d4d1d1;
  padding: 15px;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.sub-container > button:hover {
  background-color: #fff;
  transform: scale(1.1);
}

.sub-container > input {
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  font: 18px;
}
